:root {
  --color-primary: #ebd96b;
  --color-secondary: #000000;
  --color-hover: #7902be;
  --color-primary-bg: #ffffff;
  --color-secondary-bg: #c2c8da;
  --color-hero-bg: #f4f6f5;
  --color-primary-text: #000000;
  --color-secondary-text: #7f7f7f;
  --color-contrast-text: #ffffff;
  --border-radius-button: 7px;
  --border-radius-small: 10px;
  --border-radius-medium: 20px;
  --border-radius-big: 59px;
  --font-size-navigation: 24px;
  --font-size-heading-mini: 32px;
  --font-size-heading: 96px;
  --font-size-h2: 48px;

  --font-size-nav-tablet: 18px;
  --font-size-heading-mini-tablet: 24px;
  --font-size-heading-tablet: 60px;
  --font-size-h2-tablet: 32px;

  --font-size-nav-mobile: 16px;
  --font-size-heading-mini-moblie: 22px;
  --font-size-heading-mobile: 32px;
  --font-size-h2-mobile: 26px;
  --font-weight-italic: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
}

#logo {
  width: auto;
  height: 29px;
}

.caps {
  text-transform: uppercase;
}

.box-center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1720px;
  width: 100%;
  padding: 10px 50px;
}

.box-center-vertical {
  align-items: center;
  flex-flow: column wrap;
  gap: 40px;
  padding: 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left>span:last-child {
  padding-left: 13px;
}

.box {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 100%;
}


.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -10%;
  z-index: -1;
  background-color: var(--color-primary);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.box-content {
  z-index: 3;
}

.white-box {
  display: block;
  position: relative;
  z-index: 1;
}

.white-box::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0%;
  left: -10%;
  z-index: -1;
  background-color: var(--color-primary-bg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.hero {
  margin: 56px 50px 63px 50px;
  padding-top: 77px;
  /*100px 0px 100px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: var(--color-hero-bg);
  border-radius: var(--border-radius-big);
  gap: 0px;

}

.hero h1 {
  justify-content: end;
  font-size: var(--font-size-heading);
  max-width: 474px;
  width: 100%;
  max-height: 474px;
  height: 100%;

}

.hero-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: 40px;
  max-width: 50%;
  padding-left: 119px;
  padding-bottom: 77px;
  margin: 0;
  z-index: 1;
}

.hero-vertical p {
  text-wrap: wrap;
  font-size: var(--font-size-heading-mini);
}

.hero-png {
  overflow: hidden;
  align-self: end;
  padding-right: 81px;
  max-width: 800px;
  width: 100%;
  z-index: 0;
}

.shop-now-box {
  display: flex;
  flex-flow: row wrap;
  gap: 34px;
  align-items: center;
}

.brands-block {
  background-color: var(--color-primary);
  width: 100%;
  min-height: 186px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.blend-logos {
  mix-blend-mode: multiply;
}

.new-arrivals {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 69px 104px 0px 104px;
  gap: 100px;
  padding: 0;
}

.new-arrivals h2 {
  font-size: var(--font-size-h2);
}

.collections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 90px;
}

.one-collection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 484px;
  width: 100%;
  gap: 28px;
  scale: 1;
  transition: scale 0.2s ease-out;
}

.one-collection:hover {
  opacity: 0.95;
  cursor: pointer;
  scale: 1.1;
}

.one-collection img {
  border-radius: var(--border-radius-medium);
  max-width: 100%;
}

.collection-nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.collection-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 0px;
  font-size: var(--font-size-navigation);
  color: var(--color-secondary-text);
}

.collection-text div:first-child {
  font-size: var(--font-size-heading-mini);
  color: var(--color-primary-text);
}

.banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: linear-gradient(to right, #ffec61, var(--color-primary));
  width: 100%;
  height: 100%;
  margin-top: 190px;
  padding-bottom: 10%;
}

.banner h2 {
  font-size: var(--font-size-heading);
  z-index: 0;
  padding-top: 128px;
  margin: 0;
}

.banner p {
  text-wrap: wrap;
}

.heading-decotated {
  display: flex;
  padding-right: 10px;
  width: max-content;
  background-image: url(/assets/Vector\ 9.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 60%;
}

.heading-vector {
  display: flex;
  align-self: center;
  max-width: 10%;
  z-index: -1;
}

.banner-vertical {
  display: flex;
  flex-flow: column nowrap;
  gap: 34px;
  max-width: 50%;
  padding-bottom: 77px;
  font-size: var(--font-size-heading-mini);
  max-width: 666px;
}

.banner-vertical p {
  margin: 0;
  padding: 0;
}

.one-collection-wide {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 700px;
  gap: 28px;
  scale: 1;
  transition: scale 0.2s ease-out;
}

.one-collection-wide:hover {
  opacity: 0.95;
  cursor: pointer;
  scale: 1.1;
}

.voucher-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 339px;
  margin: 220px 290px 0px 290px;
  width: 100%;
}

.download-app-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 65px;
  max-width: 507px;
}



.download-app-block h2 {
  font-size: var(--font-size-h2);
  margin: 0;
}

.download-app-block p {
  font-size: 24px;
  color: var(--color-secondary-text);
  margin: 0;
}

.download-store-block {
  display: flex;
  flex-flow: row wrap;
  gap: 19px;
  justify-content: flex-start;
}

.image-button {
  scale: 1;
  max-width: 204px;
  width: 100%;
  transition: scale 0.2s ease-out;
}

.image-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.image-button:active {
  scale: 0.9;
}

.join-us-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #E5C643;
  margin-top: 200px;
  padding: 141px 0px;
  color: var(--color-contrast-text);
  width: 100%;
}

.join-us-block h2 {
  text-align: center;
  text-wrap: wrap;
  font-size: 55px;
}

.join-us-block p {
  text-align: center;
  text-wrap: wrap;
  font-size: var(--font-size-heading-mini);
}

.join-us-block form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--color-primary-bg);
  max-width: max-content;
  border-radius: var(--border-radius-small);
  padding: 5px;
}

.join-us-block input {
  max-width: 450px;
  height: auto;
  border: none;
  font-family: sans-serif;
  font-size: 24px;
  margin-left: 10px;
}

.join-us-block input:focus {
  outline: none;
}

.join-us-block input:focus::placeholder {
  opacity: 0.5;
}

.join-us-block button {
  margin-right: 3px;
  padding: 15px 30px;
  border: none;
}

footer {
  background-color: var(--color-secondary);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--color-contrast-text);
  width: 100%;
}

.footer-heading {
  font-size: 40px;
  font-weight: 900;
}

.footer-left-column {
  display: flex;
  flex-flow: column nowrap;
  max-width: 415px;
}

.footer-left-column p {
  font-size: 24px;
  color: var(--color-secondary-text);
  font-family: 'Roboto', sans-serif;
}

.social-network-block {
  display: flex;
  flex-flow: row nowrap;
  gap: 14px;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  width: 100%;
  background-color: var(--color-primary-bg);
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 2;
  box-shadow: 0px 0px 5px black;
}

table {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

th {
  color: var(--color-contrast-text);
  font-size: var(--font-size-navigation);
  border-right: 168px solid transparent;
}

th:last-child {
  border-right: 0;
}

td {
  color: var(--color-secondary-text);
  font-size: var(--font-size-navigation);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-navigation);
}

li {
  padding: 10px 0px 10px 65px;
  display: flex;
  align-items: center;
}

li:first-child {
  padding-left: 0;
}

img {
  max-width: 100%;
}

button {
  padding: 17px 22px;
  font-size: var(--font-size-navigation);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-secondary);
  color: var(--color-contrast-text);
  border-radius: var(--border-radius-button);
  border: none;
  scale: 1;
  transition: scale 0.2s ease-out;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:active {
  scale: 90%;
}

a {
  text-decoration: none;
  color: var(--color-primary-text);
}

a:hover {
  opacity: 0.7;
}

@media (max-width: 1280px) {
  header {
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-nav-tablet);
  }

  button {
    padding: 10px 15px;
    font-size: var(--font-size-nav-tablet);
  }

  .box-center {
    padding: 0px;
    width: auto;
    justify-content: center;
  }

  .box-center-vertical {
    padding: 0;
  }

  .voucher-block .box-center {
    padding: 0;

  }

  .box::before {
    max-width: 100%;
    width: 90%;
    left: -10%;
  }

  .hero h1 {
    font-size: var(--font-size-heading-tablet);
    margin: 0;
  }

  .hero-vertical {
    padding-left: 10px;
    gap: 10px;
  }

  .hero-vertical p {
    margin: 0;
    font-size: var(--font-size-heading-mini-tablet);
  }

  .hero-png {
    width: 50%;
    padding-right: 0;
  }

  .new-arrivals {
    margin: 0;
    gap: 30px;
    padding: 0px 10px;
  }

  .new-arrivals h2 {
    font-size: var(--font-size-h2-tablet);
  }

  .collections {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
  }

  .one-collection {
    max-width: 300px;
    width: 100%;
    gap: 12px;
  }

  .one-collection:hover {
    scale: 1.02;
  }

  .one-collection-wide:hover {
    scale: 1.02;
  }

  .collection-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 0px;
    font-size: var(--font-size-nav-tablet);
    color: var(--color-secondary-text);
  }

  .collection-text div:first-child {
    font-size: var(--font-size-heading-mini-tablet);
    color: var(--color-primary-text);
  }

  .banner {
    margin-top: 40px;
  }

  .banner img {
    display: none;
  }

  .banner-vertical {
    font-size: var(--font-size-heading-mini-tablet);
    padding-bottom: 0;
    gap: 20px;
  }

  .banner h2 {
    font-size: var(--font-size-heading-tablet);
    z-index: 0;
    padding-top: 64px;
    margin: 0;
  }


}

@media (max-width: 806px) {

  header {
    display: none;
  }

  .hero h1 {
    font-size: var(--font-size-heading-mobile);
  }

  .hero-png {
    display: none;
  }

  .hero-vertical p {
    font-size: var(--font-size-heading-mini-moblie);
  }

  .box {
    max-width: 100%;
    width: 100%;
  }

  .box::before {
    width: 100%;
    left: -5%;
  }

  .banner-vertical {
    font-size: var(--font-size-heading-mini-moblie);
    padding-bottom: 0;
    gap: 20px;
  }



  table {
    display: none;
  }
}